*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}
.container{
    display: block;
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none !important;
}
/* ---------------Start NavBar---------------- */
.header_top{
    display: block;
}
.header_top .top_inner{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.header_top .top_inner .nav-left{
    display: flex;
}

.header_top .top_inner .currency>span {
    color: #666666;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.header_top .top_inner .language{
margin-left: 20px;
padding-left: 20px;
border-left: 1px solid #666666;
}
.language>span{
    color: #666666;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.nav-right{
    display: block;
}
.nav-right .uaccount{
    display: block;
}
.nav-right .user_info{
    display: flex;
}
.nav-right .user_info>li{
    margin-left: 20px;
padding-left: 20px;
border-left: 1px solid #666666;
}

.nav-right .user_info>li:first-child{
    border-left: none;
}
.nav-right .user_info>li a{
    color: #666666;
    font-size: 13px;
}
/* ---------------End NavBar---------------- */
/* -------startbottom header--------------------- */
.home-page{
    display: block;
    
}
.header_bottom{
 background: #333;
}
.header_inner{
    display: flex;   
    margin: 0;
    padding: 0;
}
.header_inner>li{
    display: block;
    position: relative;
}
.header_inner>li:first-child a{
    padding-left: 0;
}
.header_inner li a{
    display: block;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    padding:  10px 20px;
    text-align: center;
}
.header_inner li:hover>a{
    color: #ffaf04;
}
/* .header_inner .menu-item-shop>a::after{
    content: ' ▼'; 
    font-size: 1.5rem;
    margin-left: 5px;
    transition:  10s ease;
}
.header_inner .menu-item-shop:hover>a::after{
    content: ' ▲'; 
    font-size: 1.5rem;
    margin-left: 5px;
    transition:  10s ease;
} */
 .sub_menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 16px;
    min-width: 125px;
    background:white ;
    color: #111111 ;
    padding: 10px 10px;
    cursor: pointer;
    z-index: 999;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

 .header_inner li:hover .sub_menu{
    display: block;
 }  
 .sub_menu li a{
    color: #111111;
 }
 .header_bottom .header_inner li:hover .sub_menu>li:hover>a {
    color: #ffaf04;
 }


.main_body{
    display: block;
}
.padding{
    padding: 40px 0;
}
/* -------start bottom header--------------------- */

/* -------start banner--------------- */
.text-left{
    text-align: left !important;
    top: 30%;
    left: 2%;
    right: auto;
}
.text-left>h2{
    display: block;
    color: #222222;
    font-weight: 600;
    font-size: 46px;
}
.text-left>p{
    display: block;
    color: #222222;
    font-weight: 600;
    font-size: 38px;
    margin-bottom: 35px;
}
.text-left>a{
    padding: 16px 22px;
    color: #111111;
    text-decoration: none;
    background: #ffaf04;
    border-radius: 3px;
    font-size: 18px;
    border: 1px solid #ffaf04;
    max-width: 170px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    text-transform: capitalize;
}
.carousel-inner .item:hover img{
    filter: none;
    opacity: 1;
}
.carousel-caption, .carousel-caption:hover{
    background: none !important;
}
/* -------End banner--------------- */

/* -------Static Block Start------------ */
.static_section{
    display: block;
    clear: both;
}
.static_section .service_inner{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.static_section .service_inner .item{
    display: block;
    width: 33.33%;
    padding: 0 15px;
    box-sizing: border-box;
    position: relative;
   
}
.static_section .service_inner .item .image{
    display: block;
    margin: 0 auto;
    position: relative;
    

}
.static_section .service_inner .item .image img{
    display: block;
    max-width: 100%;
    margin:  0 auto;
    height: auto;
    
}
.static_section .service_inner .item .text{
    display: block  ;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
}
.static_section .service_inner .item .text>h3{
    display: block;
    font-size: 48px;
    font-weight: 700;
    color: #111111;
    margin-bottom: 10px;
}
.static_section .service_inner .item .text>p{
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #333333;
    margin: 0;
    line-height: 1.2;

}


/* -------------start form_contact----------- */
.form_contact{
    width: 400px;
    padding: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
/* -------------end form_contact----------- */

/* -----------start footer-------------- */
.footer_top{
    display: block;
    box-sizing: border-box;
    height: 150px;
    background: #ffaf04;
    position: relative;
    
}
.subscrib{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer_bottom{
    display: block;
    clear: both;
    box-sizing: border-box;
   
}
.footer_bottom .footer-inner{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}
.footer_bottom .footer-inner .footer-col{
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
}
.footer_bottom .footer-inner .footer-col .col-title{
    display: block;
    margin-bottom: 30px;
}
/* -----------end footer-------------- */